{% load compress %}
{% load static %}

{% compress css %}
    <link rel="stylesheet" href="{% static 'src/output.css' %}">
{% endcompress %}

<header class="bg-blue-500 py-4 text-white fixed w-full">
    <div class="container mx-auto flex justify-between items-center">
        <h1 class="text-2xl font-semibold"><a href="{% url 'home' %}">Tasks Manager</a></h1>
        {% if request.path == '/' %}
            <div class="flex space-x-3">
                <a href="{% url 'agregar_tarea' %}" class="text-white bg-green-500 hover:bg-green-600 px-4 py-2 rounded">Agregar Tarea</a>
                <a href="{% url 'agregar_producto' %}" class="text-white bg-yellow-500 hover:bg-yellow-600 px-4 py-2 rounded">Agregar Producto</a>
            </div>
        {% else %}
            <div class="flex space-x-3">
                <a href="{% url 'agregar_tarea' %}" class="text-white bg-green-500 hover:bg-green-600 px-4 py-2 rounded invisible">Agregar Tarea</a>
                <a href="{% url 'agregar_producto' %}" class="text-white bg-yellow-500 hover:bg-yellow-600 px-4 py-2 rounded invisible">Agregar Producto</a>
            </div>
        {% endif %}
    </div>
</header>

<body class="bg-gray-900 font-sans">
    <div class="flex justify-center items-center min-h-screen">
        <div class="w-full max-w-md bg-white rounded-lg shadow-md p-6 m-0">
            <h1 class="text-3xl font-semibold text-center mb-4">Editar Tarea</h1>
            <form method="POST">
                {% csrf_token %}
                <div class="mb-4">
                    <label class="block text-gray-600 text-sm font-medium mb-2" for="{{ form.titulo.id_for_label }}">Título</label>
                    <input type="text" name="{{ form.titulo.name }}" id="{{ form.titulo.id_for_label }}" class="w-full border rounded px-3 py-2 focus:outline-none focus:ring focus:border-blue-300" value="{{ tarea.titulo }}"> 
                </div>
                <div class="mb-4">
                    <label class="block text-gray-600 text-sm font-medium mb-2" for="{{ form.descripcion.id_for_label }}">Descripción</label>
                    <textarea name="{{ form.descripcion.name }}" id="{{ form.descripcion.id_for_label }}" class="w-full border rounded px-3 py-2 focus:outline-none focus:ring focus:border-blue-300">{{ tarea.descripcion }}</textarea>
                </div>
                <div class="mb-4">
                    <label class="block text-gray-600 text-sm font-medium mb-2" for="{{ form.estado.id_for_label }}">Estado de la Tarea</label>
                    <select name="{{ form.estado.name }}" id="{{ form.estado.id_for_label }}" class="w-full border rounded px-3 py-2 focus:outline-none focus:ring focus:border-blue-300">
                        <option value="pendiente" {% if tarea.estado == 'pendiente' %}selected{% endif %}>Pendiente</option>
                        <option value="completada" {% if tarea.estado == 'completada' %}selected{% endif %}>Completada</option>
                    </select>
                </div>
                <div class="text-center">
                    <button class="bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded-md inline-block">Editar Tarea</button>
                </div>
            </form>
        </div>
    </div>
</body>
